# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/LoanWAPIs/v16/.suo
.vs/xwapi/config/applicationhost.config
.vs/xwapi/v16/.suo
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/LoanWAPIs.deps.json
bin/Debug/net5.0/LoanWAPIs.runtimeconfig.dev.json
bin/Debug/net5.0/LoanWAPIs.runtimeconfig.json
bin/Debug/net5.0/xwapi.deps.json
bin/Debug/net5.0/xwapi.runtimeconfig.dev.json
bin/Debug/net5.0/xwapi.runtimeconfig.json
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/LoanWAPIs.AssemblyInfo.cs
obj/Debug/net5.0/LoanWAPIs.AssemblyInfoInputs.cache
obj/Debug/net5.0/LoanWAPIs.assets.cache
obj/Debug/net5.0/LoanWAPIs.csproj.CopyComplete
obj/Debug/net5.0/LoanWAPIs.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/LoanWAPIs.csproj.FileListAbsolute.txt
obj/Debug/net5.0/LoanWAPIs.csprojAssemblyReference.cache
obj/Debug/net5.0/LoanWAPIs.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/LoanWAPIs.genruntimeconfig.cache
obj/Debug/net5.0/LoanWAPIs.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/LoanWAPIs.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/LoanWAPIs.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/staticwebassets/LoanWAPIs.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/LoanWAPIs.StaticWebAssets.xml
obj/Debug/net5.0/staticwebassets/xwapi.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/xwapi.StaticWebAssets.xml
obj/Debug/net5.0/xwapi.AssemblyInfo.cs
obj/Debug/net5.0/xwapi.AssemblyInfoInputs.cache
obj/Debug/net5.0/xwapi.assets.cache
obj/Debug/net5.0/xwapi.csproj.CopyComplete
obj/Debug/net5.0/xwapi.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/xwapi.csproj.FileListAbsolute.txt
obj/Debug/net5.0/xwapi.csprojAssemblyReference.cache
obj/Debug/net5.0/xwapi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/xwapi.genruntimeconfig.cache
obj/Debug/net5.0/xwapi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/xwapi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/xwapi.RazorTargetAssemblyInfo.cache
obj/LoanWAPIs.csproj.nuget.dgspec.json
obj/LoanWAPIs.csproj.nuget.g.props
obj/LoanWAPIs.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/xwapi.csproj.codegeneration.targets
obj/xwapi.csproj.nuget.dgspec.json
obj/xwapi.csproj.nuget.g.props
obj/xwapi.csproj.nuget.g.targets
